:root {
    --color01: #0E3D3D;
    --color02: #145959;
    --color03: #1F7A7A;
    --color04: #e51d1d;
    --color05: #f83b3b;
    --color06: #652f79;
    --color07: #7a3794;
    --color08: #f1fcfb;
    --color09: #DFF1FB;
    --colorNegro: #000000;
    --colorBlanco: #FFFFFF;
    --colorFondoWhite: #f1fcfb;
    --colorFondoDark: #0E0E11;
    --colorFondoTextDark: #18181B;
}

.sExperiencia {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 15px;
}

.tituloExperiencia {
    font-size: 2rem;
    text-transform: uppercase;
    animation-name: show;
    animation-timeline: view();
    animation-range: entry 15% cover 40%;
    animation-fill-mode: both;
}

.aExperiencia {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding-top: 20px;
}

.cardExperiencia {
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.cTitulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    background-color: var(--color01);
    color: var(--colorBlanco);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.08),
        0 1px 3px rgba(0, 0, 0, 0.06);
    animation-name: show;
    animation-timeline: view();
    animation-range: entry 15% cover 40%;
    animation-fill-mode: both;
    transition: background-color 0.3s ease;
}

.cTitulo.dark {
    background-color: var(--color02);
}

.tituloPuesto {
    font-size: 18px;
}

.tituloFecha {
    font-size: 18px;
}

.cExpDescripcion {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    gap: 20px;
    background-color: var(--colorBlanco);
    border-radius: 5px;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.08),
        0 1px 3px rgba(0, 0, 0, 0.06);
    animation-name: show;
    animation-timeline: view();
    animation-range: entry 15% cover 40%;
    animation-fill-mode: both;
    transition: background-color 0.3s ease;
}

.cExpDescripcion.dark {
    background-color: var(--colorFondoTextDark);
}

.expDescripcion {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.expHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    font-weight: 500;
}

.iconoUbi {
    color: var(--color02);
    transition: background-color 0.3s ease;
}

.iconoUbi.dark {
    color: var(--color03);
}

.linkPageExp {
    text-decoration: none;
    color: var(--color02);
    transition: background-color 0.3s ease;
}

.linkPageExp.dark {
    color: var(--color03);
}

.expBody {
    width: 100%;
    font-weight: 400;
}

.expFooter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.expIcono {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2px;
    padding: 5px;
    background-color: var(--color02);
    color: var(--colorBlanco);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.expIcono.dark {
    background-color: var(--color03);
}

.iconoNombre {
    font-size: 14px;
}

.iconoCsharp {
    font-size: 14px;
    font-weight: 500;
}

.cImgExp {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgGrupoConsiti {
    width: 100%;
    height: auto;
    background-color: #5216E7;
}

.cImgExpSilentiumApps {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--colorBlanco);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgSilentiumApps {
    height: 90px;
    width: auto;
}

.btnOtrosTrabajos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--color04);
    color: var(--colorBlanco);
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    animation-name: show;
    animation-timeline: view();
    animation-range: entry 15% cover 40%;
    animation-fill-mode: both;
    transition: background-color 0.3s ease;
}

.btnOtrosTrabajos:hover {
    background-color: var(--color05);
}

.cOtrosTrabajos {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    display: none;
    width: 100%;
}

.cOtrosTrabajos.activo {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cardOtraExp {
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.cTituloOtraExp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    background-color: var(--color01);
    color: var(--colorBlanco);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.08),
        0 1px 3px rgba(0, 0, 0, 0.06);
    animation-name: show;
    animation-timeline: view();
    animation-range: entry 15% cover 40%;
    animation-fill-mode: both;
    transition: background-color 0.3s ease;
}

.cTituloOtraExp.dark {
    background-color: var(--color02);
}

.tOtraExpPuesto {
    font-size: 18px;
}

.tOtraExpFecha {
    font-size: 18px;
}

.cOtraExpDescripcion {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px;
    gap: 10px;
    background-color: var(--colorBlanco);
    border-radius: 5px;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.08),
        0 1px 3px rgba(0, 0, 0, 0.06);
    animation-name: show;
    animation-timeline: view();
    animation-range: entry 15% cover 40%;
    animation-fill-mode: both;
    transition: background-color 0.3s ease;
}

.cOtraExpDescripcion.dark {
    background-color: var(--colorFondoTextDark);
}

.otraExpHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-weight: 500;
}

.otraExpBody {
    width: 100%;
    font-weight: 400;
}

@keyframes show {
    from {
        opacity: 0;
        transform: scale(0.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 680px) {
    .cardExperiencia {
        width: 100%;
    }

    .cTitulo {
        padding: 10px;
    }

    .tituloPuesto {
        font-size: 16px;
    }

    .tituloFecha {
        font-size: 16px;
    }

    .cExpDescripcion {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        font-size: 14px;
    }

    .expDescripcion {
        width: 100%;
    }

    .expFooter {
        justify-content: center;
    }

    .iconoNombre {
        font-size: 12px;
    }

    .iconoCsharp {
        font-size: 12px;
        font-weight: 500;
    }

    .cImgExp {
        width: 100%;
    }

    .imgGrupoConsiti {
        width: 20%;
    }

    .cImgExpSilentiumApps {
        width: 70px;
        height: 70px;
    }

    .imgSilentiumApps {
        height: 60px;
    }

    .cardOtraExp {
        width: 100%;
    }

    .cTituloOtraExp {
        padding: 10px;
    }

    .tOtraExpPuesto {
        font-size: 14px;
    }

    .tOtraExpFecha {
        font-size: 14px;
    }

    .cOtraExpDescripcion {
        padding: 10px;
    }

    .otraExpHeader {
        font-size: 12px;
    }

    .otraExpBody {
        font-size: 12px;
    }
}

@media (max-width: 420px) {
    .tituloPuesto {
        font-size: 14px;
    }

    .tituloFecha {
        font-size: 14px;
    }
}