:root {
    --color01: #0E3D3D;
    --color02: #145959;
    --color03: #1F7A7A;
    --color04: #e51d1d;
    --color05: #f83b3b;
    --color06: #F4B942;
    --color07: #F0C808;
    --color08: #f1fcfb;
    --color09: #DFF1FB;
    --colorNegro: #000000;
    --colorBlanco: #FFFFFF;
    --colorFondoWhite: #f1fcfb;
    --colorFondoDark: #0E0E11;
    --colorFondoTextDark: #18181B;
}

.sFooter{
    width: 100%;
}

.sFooter .section-1{
    width: 100%;
    background-color: var(--color02);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.section-1 .box-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1 .box-logo a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1 .box-logo a div{
    background-color: var(--colorBlanco);
    border-radius: 50%;
    padding: 5px;
    box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
}

.section-1 .box-logo a div img{
    width: 50px;
    height: 50px;
    aspect-ratio: 16/9;
}

.section-1 .box-logo a p{
    padding: 0;
    margin: 0 0 0 10px;
    color: var(--colorBlanco);
    font-size: 1.5rem;
    font-weight: bold;
}

.section-1 .box-nosotros{
    width: 500px;
    display: flex;
    align-items: self-start;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.section-1 .box-nosotros h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--colorBlanco);
}

.section-1 .box-nosotros p{
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: var(--colorBlanco);
}

.section-1 .box-redes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1 .box-redes a {
    width: 45px;              /* mismo ancho */
    height: 45px;             /* mismo alto */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--colorFondoWhite);
    color: var(--color02);
    margin: 7.5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s linear, color 0.2s linear;
}


.section-1 .box-redes a:hover{
    background-color: var(--color03);
    color: var(--colorBlanco);
    transition: 0.2s linear;
}

.section-1 .box-redes a i{
    font-size: 1.5rem;
}

.sFooter .section-2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: var(--color04);
    color: var(--colorBlanco);
    font-size: 1rem;
    text-align: center;
}

@media (max-width:720px){
    .sFooter .section-1{
        flex-direction: column ;
    }

    .section-1 .box-logo{
        margin: 10px;
    }

    .section-1 .box-nosotros{
        width: auto;
        margin: 10px;
        padding: 0;
        align-items: center;
    }

    .section-1 .box-nosotros p{
        text-align: center;
    }
}

@media (max-width:400px){
    .sFooter .section-1{
        padding: 10px;
    }

    .section-1 .box-logo a div img{
        width: 35px;
        height: 35px;
    }

    .section-1 .box-logo a p{
        font-size: 0.8rem;
    }

    .section-1 .box-nosotros h3{
        font-size: 1rem;
    }

    .section-1 .box-nosotros p{
        font-size: 0.8rem;
    }

    .section-1 .box-redes a i{
        font-size: 1rem;
    }

    .sFooter .section-2{
        font-size: 0.8rem;
    }
}