:root{
    --color-principal:#591414;
    --color-secundario:#8C1111;
    --color-terciario:#A6242F;
    --color-alternativo-I:#7D6841;
    --color-alternativo-II:#3045BF;
    --color-apuesto:#145959;
    --color-negro:#0D0908;
    --color-blanco: #fff;
    --color-fondo:#E7E1E1;
}

/*FORMATEO GENERAL*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--color-fondo);
}

header{
    background-image: url("../img/codeFondo.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header img{
    border-radius: 20px;
    height: 150px;
    width: 150px;
    margin: 15px 0px;
}

.titulo-principal{
    width: 100%;
    background-color: var(--color-principal);
}

.titulo-principal h1{
    color: #FFF;
    letter-spacing: 7px;
    margin: 0;
    padding: 15px 10px;
    text-align: center;
    text-transform: uppercase;
}

header nav{
    width: 100%;
    padding: 5px;
    background-color: var(--color-principal);
}

header nav ul{
    text-align: center;
}

header nav ul li{
    display: inline-block;
    margin: 15px 10px;
}

header nav a{
    background-color: var(--color-apuesto);
    border-radius: 10px;
    color: var(--color-blanco);
    font-weight: bold;
    font-size: 20px;
    padding: 7px 10px;
    text-decoration: none;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 25px 0px;
}

main section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.tarjeta{
    background-color: var(--color-blanco);
    border-radius: 15px;
    width: 500px;
    margin: 10px 5px;
}

.tarjeta ul{
    margin: 0;
    list-style-type: none;
    padding: 10px 15px;
}

.tarjeta ul li {
    margin: 5px 0px;
    padding: 0;
}

.tarjeta h2{
    background-color: var(--color-apuesto);
    color: #FFF;
    letter-spacing: 5px;
    margin: 0;
    padding: 10px 5px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

li span{
    font-weight: bold;
}

.c-tecnicos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 5px;
}

.herramienta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color-principal);
}

.herramienta i{
    font-size: 20px;
    color: var(--color-blanco);
}

.herramienta p{
    font-size: 16px;
    color: var(--color-blanco);
}

footer nav{
    background-color: var(--color-principal);
    padding: 5px 5px;
}

footer nav ul{
    text-align: center;
}

footer nav ul li{
    display: inline-block;
    margin: 5px 10px;
}

footer nav ul li p{
    color: var(--color-blanco);
    font-size: 20px;
    font-weight: bold;
}

footer nav ul li a{
    color: var(--color-blanco);
    font-size: 25px;
}